{% extends "_layouts/main" %}
{% block content %}
    <div class="shop">
        <h1>All products</h1>
        <div class="shop-control-bar">
        <select>
            <option value="0">Sort by</option>
            <option value="1">Price: low to high</option>
            <option value="2">Price: high to low</option>
            <option value="3">Newest</option>
            <option value="4">Oldest</option>
        </div>
        <div class="shop-container">
            {% set entries = craft.entries().section('products').all() %}
            {% for entry in entries %}
            <div class="product">
            {% set productImage = entry.productImage.one() %}
            {% if productImage %}
            <img src="{{ productImage.getUrl('previewImage') }}" alt="{{ entry.title }}">
            {% endif %}
                <h2>{{ entry.title }}</h2>
                <p>€ {{ entry.productPrice }}</p>
                <button>Add to cart</button>
            </div>
{% endfor %}
        </div>
    </div>
{% endblock %}