body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header{
    color: #fff;
    text-align: center;
}

.page-title{
    padding: 24px 48px;
    background-color: rgba(0,0,0,0.1);
}

nav{
    background-color: #666;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em;
    overflow: hidden;
    box-shadow:#333;
}

nav button{
    background-color: #666;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    align-items: flex-start;
}

nav a{
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.shop{
    text-align: center;
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: row;
}

.product{
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 300px;
    padding: 16px;
    margin:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img{
    width:fit-content;
}

.product h2{
    font-size: 20px;
    height: 50px;
    margin-top:18px;
    margin-bottom:0px;
}

.product button{
    background-color: #b3d1ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 25px;
}

.product button:hover{
    background-color: #003366;
    color: #fff;
}

.product button:active{
    border: 2px solid #000;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown-menu{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   border-radius: 6px;
   z-index: 1;
   padding: 8px;
}

.dropdown-menu a{
   display: block;
   font-size: 16px;
   padding: 6px;
   float: none;
   text-align: left;
   color:#666;
}

.dropdown:hover .dropdown-menu{
   display: block;
}

nav a:hover, nav button:hover{
    color:  #b3d1ff;
}

.dropdown-menu a:hover{
    color:#003366;
}

.shop-control-bar{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content:space-between;
    padding:  16px 24px;
}

.custom-select{
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.search{
    display: flex;
    align-items: center;
    }

.search input{   
    padding: 8px 16px;
    width: 300px;
    border-radius: 50px;
    margin-right: 10px;
    border: 0.5px solid #ccc;
    }

.submit-search, .submit-search-mobile{
    border: none;
    background-color: white;
}

.submit-search-mobile{
    display: none;
}

.home{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow:hidden;

}

.home h1{
    font-size: 60px;
    color: #fff;
    width: 800px;
}

.home p{
    font-size: 20px;
    color: #fff;
    width: 800px;
}

.banner-button{
    background-color: #b3d1ff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    padding: 20px 50px;
    margin-top: 20px;
}

.banner-button:hover{
    background-color: #003366;
    color: #fff;
}

.banner-button:active{
    border: 2px solid #000;
}

.c-breadcrumb__item{
    display: flex;
    list-style: none;
    display: contents;
}

.c-breadcrumb__link{
    text-decoration: none;
}

.hamburger-menu{
    display: none;
}

.dropdown-menu-mobile{
    display: none;
}

.desktop-image{
    display: block;
}

.mobile-image{
    display: none;
}

@media only screen and (max-width: 800px) {
    .product{
        width: 250px;
    }
}

@media only screen and (max-width: 650px) {
    .search{
        display: none;
    }
    .cart{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .submit-search-mobile{
        display: flex;
    }
    .home h1{
        font-size: 40px;
        color: #fff;
        text-shadow: 2px 2px #000;
        width: 600px;
    }

    .home p{
        font-size: 16px;
        color: #fff;
        text-shadow: 2px 2px #000;
        width: 600px;
    }
    .c-breadcrumb{
        display:none;
    }
    .shop-control-bar{
        justify-content: flex-end;
    }
    nav{
        display:none;
        flex-direction: column;
        position: absolute;
        top: 85px; 
        left: 0;
        width: 70%;
        height:70%;
        z-index: 2; 
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .hamburger-menu{
    display: block;
    }

    .hamburger{
    background-color: #fff;
    border:none;
    }

    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu-mobile{
        display: flex;
        flex-direction: column;
        background-color: #666;
        min-width: 160px;
        padding: 8px;
        border:none;
        box-shadow:none;
        text-align: left;
        padding:0;
     }
     .dropdown-menu-mobile a{
        display: flex;
        color:white;
        font-size: 16px;
        padding: 6px;
     }

     .dropdown:hover .dropdown-menu{
        display:none;
     }

     .dropdown button{
        padding:0;
     }
     
     .nav-visible{
        display: flex;
     }

    .shop-container{
        justify-content: center;
    }

     .product{
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 16px;
        margin:16px;
        width: 170px;
    }
    
    .product h2{
        font-size: 20px;
        height: 50px;
        padding-bottom:8px;
    }

     .mobile-image{
        display: block;
     }
     .desktop-image{
        display: none;
     }
}  