body{
    font-family: 'helvetica', 'arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header{
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.page-title{
    padding: 24px 48px;
    background-color: rgba(0,0,0,0.1);
}

nav{
    background-color: #003366;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em;
    overflow: hidden;
    box-shadow:#333;
}

nav button{
    background-color: #003366;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    align-items: flex-start;
}

nav a{
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.shop{
    text-align: center;
}

.shop-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: row;
}

.product-info{
    text-decoration: none;
}

.product{
    border-radius: 6px;
    width: 300px;
    padding: 16px;
    margin:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.product img{
    width:fit-content;
}

.product h2{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    height: 50px;
    margin-top:18px;
    margin-bottom:0px;
    color:#000;
}

.product p {
    font-size: 16px;
    font-weight: 400;
    color:#000;
}

.product button:active{
    border: 2px solid #000;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown-menu{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   border-radius: 6px;
   z-index: 1;
   padding: 8px;
}

.dropdown-menu a{
   display: block;
   font-size: 16px;
   padding: 6px;
   float: none;
   text-align: left;
   color:#666;
}

.dropdown:hover .dropdown-menu{
   display: block;
}

nav a:hover, nav button:hover{
    color:  #b3d1ff;
}

.dropdown-menu a:hover{
    color:#003366;
}

.shop-control-bar{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content:space-between;
    padding:  16px 24px;
}

.custom-select{
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.search{
    display: flex;
    align-items: center;
    }

.search input{   
    padding: 8px 16px;
    width: 300px;
    border-radius: 50px;
    margin-right: 10px;
    border: 0.5px solid #ccc;
    }

.submit-search, .submit-search-mobile{
    border: none;
    background-color: white;
}

.submit-search-mobile{
    display: none;
}

.home{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow:hidden;

}

.home h1{
    font-size: 60px;
    color: #fff;
    width: 800px;
}

.home p{
    font-size: 20px;
    color: #fff;
    width: 800px;
}

.banner-button{
    background-color: #b3d1ff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    padding: 20px 50px;
    margin-top: 20px;
}

.banner-button:hover{
    background-color: #003366;
    color: #fff;
}

.banner-button:active{
    border: 2px solid #000;
}

.c-breadcrumb__item{
    display: flex;
    list-style: none;
    display: contents;
}

.c-breadcrumb__link{
    text-decoration: none;
}

.hamburger-menu{
    display: none;
}

.dropdown-menu-mobile{
    display: none;
}

.desktop-image{
    display: block;
}

.mobile-image{
    display: none;
}

.footer-container{
    background-color: #b3d1ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    box-shadow:#333;
}

.icon {
    width: 30px;
    height: 30px;
}

.detailed-product-title{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.detailed-price{
    font-size: 20px;
}

.simple-breadcrumbs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #b3d1ff;
    margin:0;
    padding-left: 20px;
}

.simple-breadcrumbs li{
    list-style: none;
    display: contents;
}

.first-breadcrumb a{
    font-weight: bold;
}

.simple-breadcrumbs a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 8px;
}
.product-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.heart-icon{
    width: 25px;
    height: 25px;
    margin-left: auto; 
}

.product-custom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 16px;
    margin-bottom: 32px;
}
.color-options {
    display: flex;
    align-items: center;
}

.color-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.color-option p {
    font-size: 12px;
    margin: 0;
}

.circle {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin-bottom: 4px;
}

.black {
    background-color: #000000; 
    color: #000000; 
}

.green {
    background-color: #008000; 
    color: #008000; 
}

.blue {
    background-color: #0000FF; 
    color: #0000FF; 
}

.yellow {
    background-color: #FFFF00; 
    color: #FFFF00; 
}

.size-options {
    display: flex;
    align-items: center;
}
.size-options p{
    margin-right: 20px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.quantity-options{
    display: flex;
    align-items: center;
}
.quantity-options p{
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ccc;

}

.product-description{
    padding: 16px;
    border-top: 1px solid #000;
}
.product-custom-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

@media only screen and (min-width: 800px) {
    .product-detail-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 30px;   
    }

    .product-custom{
        padding: 24px;
        margin-bottom:32;
    }
    .product-detail{
        padding: 24px;
        margin:0;
    }
    .product-custom-container{
        width: 450px;
    }
    .detail-image {
        width: 500px;
    }
}

@media only screen and (max-width: 800px) {
    .product{
        width: 250px;
    }
}

@media only screen and (max-width: 650px) {
    .search{
        display: none;
    }
    
    .cart{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .submit-search-mobile{
        display: flex;
    }
    .home h1{
        font-size: 40px;
        color: #fff;
        text-shadow: 2px 2px #000;
        width: 600px;
    }

    .home p{
        font-size: 16px;
        color: #fff;
        text-shadow: 2px 2px #000;
        width: 600px;
    }
    .c-breadcrumb{
        display:none;
    }
    .shop-control-bar{
        justify-content: flex-end;
    }
    nav{
        display:none;
        flex-direction: column;
        position: absolute;
        top: 85px; 
        left: 0;
        width: 70%;
        height:70%;
        z-index: 2; 
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .hamburger-menu{
    display: block;
    }

    .hamburger{
    background-color: #fff;
    border:none;
    }

    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu-mobile{
        display: flex;
        flex-direction: column;
        background-color: #003366;
        min-width: 160px;
        padding: 8px;
        border:none;
        box-shadow:none;
        text-align: left;
        padding:0;
     }
     .dropdown-menu-mobile a{
        display: flex;
        color:white;
        font-size: 16px;
        padding: 6px;
     }

     .dropdown:hover .dropdown-menu{
        display:none;
     }

     .dropdown button{
        padding:0;
     }
     
     .nav-visible{
        display: flex;
     }

    .shop-container{
        justify-content: center;
    }

     .product{
        width: 170px;
    }
    
    .product h2{
        height: 50px;
        padding-bottom:8px;
    }

     .mobile-image{
        display: block;
     }
     .desktop-image{
        display: none;
     }
}  