<form sprig method="post">
    <input class="search" type="text" name="query" placeholder="Search" value="">
    <button class="submit-search" type="submit" name="submit-search" value="Search">
        <img src="{{ siteUrl }}images/search.png" alt="search" style="width: 15px">
    </button>
</form>
