{% extends "_layouts/main" %}
{% block content %}
    {% set image = homepage.bannerImage.one() %}
    <div class="home" style="background-image: url('{{ image.url }}')">
     {% set homempage = craft.entries.section('homepage').one() %}
     {% if homepage %}
        <div class="banner-container">
            <div class="banner-overlay">
                    <h1>{{ homepage.bannerTitle }}</h1>
                    <p> {{ homepage.bannerText }}</p>
                    <button class="banner-button" onclick="window.location.href='{{ siteUrl }}products'">Shop Now</button>
            </div>      
        </div>
     {% endif %}
    </div>
{% endblock %}

