{% extends "_layouts/main" %}

{% block main %}
    <div class="shop skates">
        <h1>Ice Hockey Skates</h1>
        <div class="shop-container">
            <div class="product">
                <img src="img/skates1.jpg" alt="skates">
                <h2></h2>
                <p>Price: 799.99$</p>
                <button>Add to cart</button>
            </div>
            <div class="product">
                <img src="img/skates2.jpg" alt="skates">
                <h2>Bauer Vapor 2X Pro</h2>
                <p>Price: 899.99$</p>
                <button>Add to cart</button>
            </div>
            <div class="product">
                <img src="img/skates3.jpg" alt="skates">
                <h2>Bauer Supreme 2S Pro</h2>
                <p>Price: 799.99$</p>
                <button>Add to cart</button>
            </div>
            <div class="product">
                <img src="img/skates4.jpg" alt="skates">
                <h2>CCM Super Tacks AS3 Pro</h2>
                <p>Price: 899.99$</p>
                <button>Add to cart</button>
            </div>
    </div>

{% endblock %}